################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ApiDemo/obj
/ApiDemo/bin/Debug/netcoreapp3.1
/DLL
/.vs/ApiDemo
